@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

@font-face {
    font-family: 'Orpheus_Pro';
    font-style: normal;
    font-weight: normal;
    src: local('Tangerine'), url('/assets/Orpheus_Pro.otf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 1s;

}

body {
    font-family: 'Orpheus_Pro', serif;
    font-size: 48px;
    background-color: #f1f1f1;
    padding: 20px;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

h2 {
    font-family: 'Orpheus_Pro', serif;
    font-weight: 700;
}

h4 {
    font-family: 'Orpheus_Pro', sans-serif;
    font-weight: 400;
    font-size: 42px;
    line-height: 54px;
    color: black;
    font-style: normal;
    text-align: center;
}

p {
    font-family: 'Orpheus_Pro', sans-serif;
    font-weight: 100;
    font-size: 30px;

}

img {
    height: auto;
    width: 100%;
}


a {
    text-decoration: none;
    color: rgb(255, 255, 255);

}

.ct {
    text-align: center;
    margin-top: 20px;
}


@media screen and (max-width: 550px) {
    h4 {
        font-family: 'Orpheus_Pro', sans-serif;
        font-weight: 500;
        font-size: 28px;
        line-height: 54px;
        color: black;
        font-style: normal;

    }
}


.main {
    max-width: 1000px;
    margin: auto;
}

.row {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row>.column {
    padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    display: none;
    /* Hide columns by default */
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
    padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

/* Style the buttons */
.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
}

/* Add a grey background color on mouse-over */
.btn:hover {
    background-color: #ddd;
}

/* Add a dark background color to the active button */
.btn.active {
    background-color: #666;
    color: white;
}